body{
  margin: 0 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
img#map {
  width: 500;
  height: 500;
}

.inputs__range--flex{
  display: flex;
  flex-direction: column;
}
.input__range--item{
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}